<div class="container">
      <div class="row">
        <div class="col-xs-8">
          <div class="center">
            <div class="row">
              <div class="col-xs-4">
                <img src="images/head.jpeg" class="icon-md icon-color3">
              </div>
              <div class="col-xs-5">
                <h5>文鹏</h5>
                <h5>华西证劵投资顾问</h5>
              </div>
            </div>
            <h4>四川路桥8块钱买入</h4>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-8">
          <div class="center">
            <div class="row">
              <div class="col-xs-4">
                <img src="images/head.jpeg" class="icon-md icon-color3">
              </div>
              <div class="col-xs-5">
                <h5>文鹏</h5>
                <h5>华西证劵投资顾问</h5>
              </div>
            </div>
            <h4>川投能源8块钱卖出</h4>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-8">
          <div class="center">
            <div class="row">
              <div class="col-xs-4">
                <img src="images/head.jpeg" class="icon-md icon-color3">
              </div>
              <div class="col-xs-5">
                <h5>文鹏</h5>
                <h5>华西证劵投资顾问</h5>
              </div>
            </div>
            <h4>中国南车28块钱卖出</h4>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-8">
          <div class="center">
            <div class="row">
              <div class="col-xs-4">
                <img src="images/head.jpeg" class="icon-md icon-color3">
              </div>
              <div class="col-xs-5">
                <h5>文鹏</h5>
                <h5>华西证劵投资顾问</h5>
              </div>
            </div>
            <h4>中国南车28块钱卖出</h4>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-8">
          <div class="center">
            <div class="row">
              <div class="col-xs-4">
                <img src="images/head.jpeg" class="icon-md icon-color3">
              </div>
              <div class="col-xs-5">
                <h5>文鹏</h5>
                <h5>华西证劵投资顾问</h5>
              </div>
            </div>
            <h4>中国南车28块钱卖出</h4>
          </div>
        </div>
      </div> 
    </div>