<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @stock_message.message %>
</p>

<%= link_to 'Edit', edit_stock_message_path(@stock_message) %> |
<%= link_to 'Back', stock_messages_path %>
